.blog-admin-wrapper {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 3rem;
}

.add-blogs {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  button {
    border: none;
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.loadMore-btn {
  display: block;
  margin: auto;
}
