.faq-subscriber-container {
  text-align: left;

  .section__title {
    h3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 5rem;
    }
  }

  .standard-card-container {
    .card-title {
      h3 {
        text-align: inherit;
      }
    }
    .card-description {
      p {
        height: inherit;
        font-size: clamp(13px, 13px, 5rem);
        text-align: inherit;
      }
    }

    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
    padding: 2rem;
    border-radius: 4px;

    @media screen and (max-width: 1024px) {
      margin: auto;
    }
  }
}
