.title-with-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  .title-captions {
    h2 {
      display: block;
      flex: none;
      font-size: 2rem;
      font-weight: 800;
      hyphens: auto;
      letter-spacing: 0.0125em;
      min-width: 0;
      overflow-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      word-break: normal;
      word-wrap: break-word;
      margin-bottom: 0.1rem;
    }
    p {
      display: block;
      flex: none;
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 0.0178571429em;
      opacity: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      color: rgba(51, 48, 60, 0.48);
    }
  }
}
