.blog-page {
  .headline-blogs {
    background: #1565d8;
    color: white;
    h2 {
      color: white !important;
    }

    form {
      input {
        width: 400px;
        padding: 2rem;
        border: 1px solid transparent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        outline: none;
      }
      button {
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        padding: 2rem;
        background: #ed3e4b;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 1.4rem;
        color: white;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
          transition: 0.5s;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  input {
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 50% !important;
  }

  button {
    margin-top: 1rem !important;
    padding: 0.5rem !important;
    border-radius: 20px !important;
    width: 20%;
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 425px) {
  input {
    width: 100% !important;
  }
  button {
    width: 60% !important;
  }
}
