.appointment-container {
  .appointment-card {
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: all 0.5s;
    border-top: 3px solid transparent;

    &:hover {
      cursor: pointer;
      box-shadow: none;
    }

    h2 {
      font-weight: 800;
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
      color: rgba(51, 48, 60, 0.48);
      margin-bottom: 1rem;
    }

    a {
      font-weight: 300;
      font-size: 1.2rem;
      color: #0069ff;
      text-decoration: none;
    }
  }
}
