.appointment-container {
  .appointment-card {
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: all 0.5s;
    border-top: 3px solid transparent;

    &:hover {
      cursor: pointer;
      box-shadow: none;
    }

    h2 {
      font-weight: 800;
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
      color: rgba(51, 48, 60, 0.48);
      margin-bottom: 1rem;
    }

    a {
      font-weight: 300;
      font-size: 1.2rem;
      color: #0069ff;
      text-decoration: none;
    }
  }

  .item {
    border-left: 2px solid #021025;
    padding-left: 2rem;
    transition: all 0.5s;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;

    &:hover {
      box-shadow: 3px 3px 3px #eee;
    }
    .card-captions {
      h5 {
        font-weight: 300;
        font-size: 1.4rem;
      }
      h1 {
        font-weight: 900;
        margin-bottom: 5px;
      }
      p {
        font-size: 1.2rem;
        font-weight: 90%;
      }
    }
    .card-image img {
      width: 100%;
    }
  }
}
