$PUBLIC_ASSET: "../../../../public/assets";
$media-tablet: 1024px;
$media-mobile: 767px;

$h1-size: 8rem;
$h2-size: 5rem;

@font-face {
    font-family: Agent;
    src: local("Agent"),
    url("#{$PUBLIC_ASSET}/fonts/specialagentxtraexpandital.ttf") format("truetype");
}

.main-wrapper {
    height: 100vh;
    overflow-y: scroll;

    overflow: visible;
    > main {
        height: 100%;
        background-color: rgb(5, 4, 43);
    }
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 4, 43);
    padding: 60px 0;
    box-sizing: border-box;
    min-height: 900px;
    height: 100%;
    color: #fff;
    z-index: 1;

    &:has(.item:nth-child(7)) {
        height: auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(64, 64, 64, 0.185) 3px, transparent 3px),
            linear-gradient(0deg, rgba(64, 64, 64, 0.185) 3px, transparent 3px);
        background-size: 50px 50px, 50px 50px;
        z-index: 2;
    }

    &::after {
        content: "";
        background: url("#{$PUBLIC_ASSET}/images/events/Agent.png") no-repeat center;
        background-size: clamp(500px, 80%, 700px) auto;
        background-attachment: fixed;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &-circle {
        content: "";
        background: url("#{$PUBLIC_ASSET}/images/events/Design.png") no-repeat left;
        background-size: clamp(700px, 80%, 800px) auto;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: -15%;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &-logo {
        background: url("#{$PUBLIC_ASSET}/images/logos/cfs-logo.png") no-repeat center;
        background-size: contain;
        position: absolute;
        right: 50px;
        bottom: 0px;
        width: 250px;
        height: 150px;
        z-index: 5;
    }

    &-wrapper {
        z-index: 6;

        h1 {
            font-family: "Agent";
            font-size: $h1-size;
            font-weight: normal;
            letter-spacing: 1px;
            text-align: center;
        }

        h2 {
            font-size: $h2-size;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &-contents {
        padding: 25px 25px 50px 25px;
        margin-top: 45px;
        border: 2px solid rgb(131, 131, 148);
    }

    &-rewards-text {
        text-align: center;
        font-size: 2rem;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        list-style-type: none;
        width: 100%;
        height: 100%;
        min-width: 870px;
        max-width: 900px;
        padding: 50px 15px;
        overflow-y: scroll;
        margin-top: 15px;
        border-radius: 25px;
        box-sizing: border-box;
        background-color: rgba(184, 184, 196, 0.7);
        
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;  
        }

        .item {
            display: inline-block;
            width: calc(100%/3);
            text-align: center;
            padding: 0 15px;
            box-sizing: border-box;

            img {
                width: 100%;
                max-width: 250px;
                height: auto;
            }

            h3 {
                margin-top: 25px;
                font-size: 24px;
                color: #000;
            }

            button {
                font-size: 16px;
                letter-spacing: 1px;
                color: #fff;
                margin-top: 10px;
                background-color: rgb(5,0,85);
                padding: 7px 10px;
                border-radius: 15px;
                min-width: 200px;
            }
        }
    }
}

@media (max-width: $media-tablet) {
    .container {
        padding: 150px 0;
        box-sizing: content-box;

        &-wrapper {
            padding: 0 25px;
        }

        &-circle {
            left: -30%;
            opacity: 0;
        }

        &-list {
            min-width: auto;

            .item {
                width: calc(100%/2);
            }
        }
    }
}

@media (max-width: $media-mobile) {
    .container {
        display: block;
        height: auto;
        padding: 50px 0;

        &:has(.no-rewards) {
            min-height: auto;
        }

        &-wrapper {
            h1 {
                position: relative;
                z-index: 5;
                font-size: clamp(3rem, 1.5946rem + 9.1778vw, 5rem);
            }
    
            h2 {
                position: relative;
                z-index: 5;
                font-size: clamp(2rem, 1.5315rem + 3.0593vw, 3rem);
            }

            h3 {
                font-size: 20px;
            }
        }

        &-contents {
            margin-bottom: 155px;
        }

        &-logo {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &-list {
            position: relative;
            min-width: auto;
            z-index: 5;

            .item {
                width: 100%;
            }
        }
    }
}

@media (max-width: 280px) {
    .container {
        &-list {
            .item {
                button {
                    min-width: auto;
                }
            }
        }
    }
}