.blogs {
  .banner {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
    }
  }
  .blog-grid {
    &:nth-child(odd) {
      transform: scale(0.9);
    }
  }
}
