.standard-card-container {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 133px 111px rgba(139, 139, 139, 0.07),
    0px 51.2296px 35.3556px rgba(139, 139, 139, 0.0425185),
    0px 10.837px 9.04444px rgba(139, 139, 139, 0.0274815);
  border-radius: 16px;
  padding: 3rem;
  box-shadow: 0 4px 6px -1px #ee8e94, 0 2px 4px -1px #ee8e94;

  position: relative;
  z-index: 99999;

  .card-icon {
    svg {
      font-size: 4rem;
      color: #ec7575;
      margin-bottom: 1rem;
    }
  }

  .card-title {
    h3 {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
  .card-description {
    p {
      height: 2rem;
      font-size: 1.4rem;
      font-weight: 300;
      margin-bottom: 4rem;
    }
  }
  .card__btn {
    button {
      color: black;
      font-weight: 600;
      border: solid 1px black;
      margin-bottom: 0;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .standard-card-container {
    padding: 1rem;
    margin-top: 17rem;
  }
}

@media screen and (max-width: 425px) {
  .standard-card-container {
    .card-title {
      h3 {
        text-align: center;
      }
    }
    .card-icon {
      text-align: center !important;
    }
    .card__btn {
      button {
        width: 40% !important;
      }
    }
  }
}
