$breakpoint-xs: 390px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$color-midnight-blue: #00004d;
$color-carmine-pink: #ed3e4b;

.sub-reg-landing-page {
  font-family: "Montserrat", sans-serif;

  & > .about-section {
    min-height: 30vh;
  }

  .carousel-section {
    background-color: #d9d9d9;
    min-height: 90vh;
    padding: 0;
    margin: 0;

    & > .carousel-section-slides {
      width: 100%;

      & div {
        height: 90vh;
        min-height: 90vh;
      }

      /*Rewards Hero section Slide*/
      & #carousel-rewards-hero-container {
        max-width: calc($breakpoint-xl - 100px);
        margin: auto;

        & > img {
          position: absolute;
          right: 10%;
          height: 90vh;
        }

        & .carousel-container-title {
          max-width: 40vw !important;
          position: relative;
          top: 200px;
          left: 100px;

          & > * {
            margin-bottom: 1rem;
          }

          & > h1 {
            font-weight: bold;
            color: $color-midnight-blue;
            font-size: 4rem;
            margin-left: 0;
          }

          & > button.cta {
            background-color: $color-carmine-pink;
            color: white;
            padding: 10px;
            width: 300px;
            border-radius: 10px;
            font-size: 2.5rem;

            &:hover {
              background-color: $color-midnight-blue;
              border-color: 1px solid white;
            }
          }
        }
      }

      /*Rewards List Hero Section*/
      & #carousel-rewards-list-hero-container {
        background-color: #d9d9d9;
      }
    }
  }

  > .about-section {
    & > .about-container {
      & > .about-container-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;

        & > .info-group {
          margin-top: 1rem;
          flex: 1;
          margin-right: 20px;
          display: flex;

          & > svg {
            flex: 1;
          }

          & > p {
            flex: 3;
          }
        }
      }
    }
  }

  > .rewards-section {
    background-color: #ffeaea;
    min-height: 50vh;

    & > .rewards-container {
      & > .rewards-card-list {
        & .merchandise-card {
          & > .merchandise-captions {
            background: $color-carmine-pink;
            text-align: center;
            color: white;
          }
        }
      }
    }
  }

  & > section {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 50px 0;

    & > div[class*="-container"] {
      max-width: calc($breakpoint-xl - 100px);
      margin-left: auto;
      margin-right: auto;

      & > * {
        margin-bottom: 2rem;
      }
    }

    .vertical-border {
      border-left: 5px solid $color-carmine-pink;
    }

    & h1 {
      font-size: 3rem;
      font-weight: normal;
      margin-bottom: 1rem;
      margin-left: 10px;
    }

    & p {
      font-size: 1.3rem;
    }
  }

  & * {
    font-family: inherit;
  }

  & > #ways {
    // background-color: red;

    & .ways-list {
      margin-left: auto;
      margin-right: auto;

      &-card {
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        width: 25vw;
      }
    }
  }

  .modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(-50%, 0);
    top: 10%;
    left: 50%;
  }
  .modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    min-width: 800px;
    max-width: 800px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;

    &.join-btn {
      min-width: 400px;
      max-width: 400px;
    }
  }

  .modal-body {
    background-color: #e0efff;
    position: relative;
    display: flex;

    & > .right {
      width: 50%;
      text-align: initial;
      background-color: #d9d9d9;

      &.join-btn {
        width: 100%;
      }

      & .Mui-error,
      .MuiAlert-message {
        font-size: 10px !important;
      }
    }

    & > .left {
      width: 50%;

      &.join-btn {
        display: none;
      }

      & > .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;

        & > * {
          margin-bottom: 2rem;
        }

        & > h3 {
          font-size: 3.5rem;
          font-family: "Shadows Into Light", Arial, Helvetica, sans-serif;
          font-weight: 400;
        }

        & > p {
          font-size: 1.5rem;
        }

        & > button {
          background-color: $color-midnight-blue;
          color: white;
          padding: 10px;
          width: 300px;
          border-radius: 10px;
          font-size: 2.5rem;
        }
      }

      & > img {
        object-fit: contain;
        width: 100%;
      }

      & > .logo-container {
        position: relative;
        height: 75px;
        width: 100%;
        margin-bottom: 0;

        & > img {
          position: absolute;
          bottom: 0;
          right: 20px;
          object-fit: contain;
          height: 100px;
          width: 100px;
        }
      }
    }
  }
  .modal-body input {
    padding: 8px;
    border: 1px solid #ddd;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .modal-header {
    border-bottom: #eeeeee solid 1px;

    & > .btn-close {
      z-index: 100;
      position: absolute;
      right: -20px;
      top: -20px;
      background-color: white;
      padding: 10px;
      border-radius: 50%;
      font-size: 2rem;
      height: 25px;
      width: 25px;
    }
  }
  .modal-header h2 {
    font-size: 20px;
  }

  // .carousel-section {
  //   & > .carousel-section-slides {
  //     /*Rewards Hero section Slide*/
  //     & #carousel-rewards-hero-container {
  //       // max-width: calc($breakpoint-lg - 100px);
  //     }
  //   }
  // }

  .join-button-container {
    display: none;
    position: fixed;
    right: 10%;
    bottom: 5%;
    z-index: 9999;
    &.show {
      display: block;
    }

    & > button {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      outline: none;
      font-size: 15px;

      background: $color-carmine-pink;
      background: linear-gradient(
        0deg,
        $color-carmine-pink 0%,
        $color-carmine-pink 100%
      );
      border: none;
    }

    & > button::before {
      height: 0%;
      width: 2px;
    }

    & > button:hover {
      box-shadow: 11px 9px 10px -7px rgba(0, 0, 0, 0.59) inset;
      -webkit-box-shadow: 11px 9px 10px -7px rgba(0, 0, 0, 0.59) inset;
      -moz-box-shadow: 11px 9px 10px -7px rgba(0, 0, 0, 0.59) inset;
    }
  }

  @media (max-width: $breakpoint-lg) {
    & > section {
      & > div[class*="-container"] {
        max-width: calc($breakpoint-lg - 250px);
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    & > section {
      & > div[class*="-container"] {
        max-width: calc($breakpoint-md - 250px);
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    & > section {
      & > div[class*="-container"] {
        max-width: calc($breakpoint-sm - 250px);
      }
    }
  }
}

//Drawer registration
.portal-form {
  &.sub-reg {
    background-color: #d9d9d9;
    font-family: "Montserrat", sans-serif;

    & > .header {
      position: relative;
      text-align: center;
      vertical-align: middle;
      padding: 20px 10px;
      color: white;
      background-color: $color-midnight-blue;
      height: 5vh;
      font-size: 1rem;
      font-family: inherit;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > h3 {
      padding: 20px 20px;
      font-size: 2rem;
      font-weight: 400;
      color: $color-midnight-blue;
      border-radius: 20px;
    }

    & .sub-reg-landing-page-form {
      font-size: 1.2rem;

      & input[type="text"],
      input[type="password"] {
        padding: 10px;
        border-radius: 10px;
        background-color: #e0efff;
        border-width: thin;
      }

      & button {
        background-color: $color-carmine-pink;
        color: white;
        padding: 10px;
        width: 250px;
        border-radius: 10px;
        margin-bottom: 1rem;

        &:hover {
          background-color: $color-midnight-blue;
          border-color: 1px solid white;
        }
      }

      & .login-caption {
        margin-top: 2rem;
        margin-right: 0.5rem;
        font-weight: 300;

        & span {
          margin-right: 0.5rem;
          color: rgba(0, 0, 0, 0.75);
          font-weight: 300;
        }
      }
    }

    & .sub-reg-landing-page-success {
      & > h2 {
        color: #00004d;
        font-size: 2rem;
        margin: 10px 10px;
      }

      & > p {
        font-size: 1.5rem;
        margin: 10px 10px;
      }

      & .faq-accordions {
        font-size: 1.3rem;

        & p {
          font-size: inherit;
          padding: 0.5rem;
        }
      }
    }
  }
}
