.error-container {
  border-color: red;
  background: rgba(255, 0, 0, 0.075) !important;
  padding: 2rem 1rem;

  .MuiSvgIcon-root {
    position: relative;
    top: 1rem;
  }
  .MuiTypography-root {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 0;
  }

  svg {
    color: red;

    path {
      color: red;
    }
  }

  span {
    font-size: 1.4rem;
  }
}
