.inquiry-card-container {
  color: white;
  margin-bottom: 2rem;
  border-radius: 3rem;
  padding-left: 8rem;

  /** Background image */

  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3.4rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
  }

  .cfs-btn-default {
    button {
      width: 30%;
    }
  }
}

.color-navy {
  background: #00004d;
}

.color-blue {
  background: #0854b4;
}

.color-red {
  background: #ed3e4b;
}

@media screen and (max-width: 900px) {
  .inquiry-card-container {
    text-align: center;
    padding-left: 0;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 7px;

    br {
      display: none;
    }

    h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }

    p {
    }

    img {
      width: 70%;
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .inquiry-card-container {
    .cfs-btn-default {
      button {
        width: 50% !important;
      }
    }
  }
}
