$main-color: #021025;
$main-color-gradient: linear-gradient(
  90deg,
  #0057b7 0%,
  $main-color 30%,
  $main-color
) !important;

/* Default Colors */
$grey-50: #fafafc;
$grey-100: #f6f6fa;
$grey-200: #eaeaf2;
$grey-250: #e1e1e6;
$grey-300: #c4c4cd;
$grey-400: #747480;
$grey-450: #717171;
$grey-500: #2e2e38;
$grey-510: #2e2e3c;
$grey-550: #23232f;
$grey-600: #1a1a24;
$grey-800: rgba(0, 0, 0, 0.05);

.agent-container {
  .item {
    border-left: 2px solid $main-color;
    padding-left: 2rem;
    transition: all 0.5s;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;

    &:hover {
      box-shadow: 3px 3px 3px #eee;
    }

    .card-captions {
      h5 {
        font-weight: 300;
        font-size: 1.4rem;
      }

      h1 {
        font-weight: 900;
        margin-bottom: 5px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 90%;
      }
    }

    .card-image img {
      width: 100%;
      margin-bottom: -3px;
    }
  }

  .load-more-btn {
    border: 1px solid #333;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem 5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
  }
}
