.services-content {
  .welcome-section {
    position: relative;
    img {
      width: 100%;
    }
    .captions {
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: center;
      z-index: 99;
      top: 0;

      h5 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 2.6rem;
        color: white;
      }
      h2 {
        color: white;
        font-weight: 900;
        font-size: 8rem;
        width: 800px;
        margin-top: -3rem;
      }

      @media screen and (max-width: 900px) {
        h5 {
          font-size: 1.6rem;
        }
        h2 {
          font-size: 2rem;
          width: 50%;
        }
      }
    }
  }

  .services-card-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    .header-title {
      text-align: center;

      h1 {
        font-size: 3.5rem;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        color: #333;
      }

      .divider {
        margin-top: 1rem;
      }
    }
  }

  .solutions {
    .solutions-item {
      margin-bottom: 3rem;
      .description-items {
        margin-top: 1rem;
        .description-item {
          box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
          padding: 1rem;
          transition: 0.5s;

          h2 {
            font-weight: 900;
            margin-top: 1rem;
            margin-bottom: 0.3rem;
            font-size: 1.6rem;
            color: #333;
            font-family: "Roboto", sans-serif;
          }
          p {
            font-size: 1.3rem;
            font-weight: 300;
          }

          a {
            text-transform: uppercase;
            border-bottom: 1px dotted rgb(15, 15, 102);
            text-decoration: none;
            color: rgb(15, 15, 102);
          }

          &:hover {
            box-shadow: none;
            cursor: pointer;
          }
        }
        img {
          width: 100%;
        }
      }
      .solution-header {
        margin-bottom: 2rem;
        .divider {
          height: 5px;
          width: 100px;
          background: black;
          display: block;
          margin: auto;
          margin-top: -2rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-weight: 900;
          font-size: 3rem;
        }
        p {
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
    }
  }

  .contact-us {
    display: flex;
    justify-content: space-between;
    background: #021025;
    margin: 2rem 0;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    padding: 4rem 0;

    .grid-left-captions {
      h3 {
        font-weight: 700;
        font-size: 2rem;
      }
      i {
        font-size: 1.5rem;
        color: #8ba5cc;
      }
    }
    .grid-middle {
      h2 {
        font-size: 3rem;
      }
    }
    .grid-right-btn {
      svg {
        margin-left: 2rem;
      }
      button {
        font-weight: 700;
        font-size: 2rem;
        background: transparent;
        border: none;
        color: #eee;
        display: flex;
        align-items: center;
        border-bottom: solid 1px #eee;
        padding: 0 0 1.5rem;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }

  .working-steps {
    .title {
      h2 span {
        color: #0057b7;
        text-shadow: 0 2px 4px #000;
      }
    }
  }

  .MuiAccordionSummary-root {
    .MuiTypography-root {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }

  .article-content {
    .article {
      margin-bottom: 2rem;

      h2 {
        font-weight: 900;
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      ul {
        margin: 0;
        margin-top: 2rem;
        list-style: none;

        li {
          margin-bottom: 1rem;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-content: center;
          align-items: center;
          font-size: 2rem;
          font-weight: 300;
          svg {
            margin-right: 1.5rem;
            font-size: 4rem;
            background: black;
            border-radius: 50%;
            padding: 1rem;

            path {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
