.message-page-container {
	margin: 2rem 0;
	.message-header {
		text-align: center;
		h2 {
			font: 700 3rem "Montserrat";
			color: #343a40;
		}

		img {
			margin: auto;
			width: 80px;
		}
	}

	.message-page-content {
		img {
			width: 650px;
			display: block;
			margin: auto;
		}

		p {
			font: 400 2rem "Montserrat";
			line-height: 3.5rem;
			text-align: center;
			color: #6c757d;
		}
	}
}
