.message-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 600px;
  }

  .message-captions {
    font: 500 1.5rem "Montserrat";
    line-height: 3rem;
    text-indent: 10rem;
    text-align: justify;
  }
}
