.message-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  img {
    width: 600px;
  }

  h2 {
    font: 700 3rem "Montserrat";
    color: #343a40;
  }

  p {
    font: 400 1.2rem "Montserrat";
    color: #8d99ae;
  }

  .message-captions {
    font: 600 1.5rem "Montserrat";
    line-height: 3rem;
    text-indent: 10rem;
    text-align: justify;
    margin: 2rem 0;
    color: #6c757d;
  }
}
