.agent-support-wrapper {
  .headline__btn {
    .cfs-btn-default button {
      border: 1px solid black !important;
      color: black;
      font-weight: 700;
    }
  }
  .plan-container-agent {
    background: linear-gradient(152.93deg, #ed3e4b 16.91%, #a0000c 185.66%);
    position: relative;
    z-index: 99999;
  }
  .standard-card-container {
    margin-top: -10rem;
  }

  .success-container {
    margin-top: 6rem;
    h2 {
      margin-bottom: 10rem;
      font-size: 4rem;
      text-align: center;
      font-family: "Montserrat", sans-serif;
    }
  }

  .benefits-container {
    .MuiContainer-root {
      background: #fff;
    }
  }

  .agent-container {
    margin-top: 4rem;
    h2 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.7rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 3rem;
    }
    img {
      width: 280px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.easy-steps-container {
  background: linear-gradient(152.93deg, #ed3e4b 16.91%, #330004 185.66%);

  padding: 8rem 0 7rem 0;
  .easy-steps-image {
    img {
      height: 600px;
      object-fit: cover;
      width: 100%;
      border-radius: 2rem;
    }
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    margin-left: 4rem;
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
  }

  .description {
    p {
      margin: 2rem 0 3.5rem 0;
      font-family: "Montserrat", sans-serif;
      color: white;
      margin-left: 4rem;
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }

  button {
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      opacity: 0.7;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1179px) {
  .agent-support-wrapper {
    .agent-container {
      .MuiGrid-root {
        display: block;
      }

      img {
        width: 100%;
        display: block !important;
        margin: auto !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .agent-support-wrapper {
    .cfs-application {
      margin-top: -4rem;
    }

    .standard-card-container {
      margin-top: 0;
    }

    .success-container {
      h2 {
        margin-bottom: 5rem;
        margin-top: 2rem;
      }
    }
    .easy-steps-container {
      h2 {
        margin-left: 0;
      }
      .description {
        p {
          margin-left: 0;
          text-align: center;
        }
      }
      button {
        margin-bottom: -3.5rem;
      }
    }
    .agent-container {
      h4 {
        text-align: center;
        font-size: 1.7rem;
      }
      .subtitle {
        text-align: center;
        font-size: 1.4rem;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .easy-steps-container {
    h2 {
      text-align: center;

      br {
        display: none;
      }
    }
  }
}
