.blogs-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
  &:hover {
    transition: all 0.5s ease;
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.15),
      1px 10px 5px rgba(0, 0, 0, 0.15);
  }
  &:not(hover) {
    transition: all 0.5s ease-out;
  }
  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thumbnail-container {
      img {
      }
    }
    h2 {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      font-weight: 900;
    }
    .tags-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      border-bottom: 1px solid lightgray;
      .chip {
        margin-bottom: 1rem;
      }
    }
    .contents {
      padding: 1rem;
      border-radius: 5px;
      border-bottom: 1px solid lightgray;
      .blog-card-statistics-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: 0rem;
      }
      .description {
        overflow: hidden;
        font-size: 1.3rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-height: 20px; /* fallback */
        max-height: 1 * 2; /* fallback */
        padding: 0rem 0;
        border: 1px 0 1px 0 solid gray;
        margin: 1rem;
      }
      .author,
      .date {
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        span {
          svg {
            font-size: 2rem;
          }
        }
      }
      .date {
        margin-bottom: 1rem;
      }
    }
    .read-more {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      text-transform: uppercase;
      color: white;
      border-radius: 5px;
      border: 1px solid #eee;
      cursor: pointer;
      background: linear-gradient(90deg, #0057b7 0%, #021025 30%, #021025);
      width: 100%;
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
