.cfs-btn {
  button {
    margin-top: 1rem;
    padding: 1.3rem 3rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: transparent;
    border-radius: 5rem;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
    margin-bottom: 1.7rem;
    border: 1px solid rgb(124, 120, 120);
    cursor: pointer;

    &:hover {
      color: white;
      cursor: pointer;
      opacity: 0.8;
      border: 1px solid rgb(124, 120, 120);
    }
  }
}
.cfs-btn-danger {
  button {
    color: white;
    background-color: #ed3e4b;
    border: 1px solid transparent;

    &:hover {
      color: white;
      cursor: pointer;
      background: #00004d;
    }
  }
}

.cfs-btn-default {
  button {
    border: 1px solid black;
    color: black;
    margin-bottom: 1.7rem;

    &:hover {
      cursor: pointer;
      color: black;
      opacity: 0.8;
    }
  }
}

.cfs-btn-primary {
  button {
    color: #fff;
    border: none;
    margin-bottom: 1.7rem;
    border: 1px solid white;
    background-color: #00004d;

    &:hover {
      color: white;
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.cfs-btn-disabled {
  button {
    background-color: rgba(239, 239, 239, 0.3) !important;
    color: rgba(16, 16, 16, 0.3) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
  }
}

@media screen and (max-width: 1024px) {
  .cfs-btn {
    button {
      width: 100%;
    }
  }
}
