.cfs-btn {
  button {
    margin-top: 1rem;
    padding: 1.3rem 3rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: transparent;
    border-radius: 5rem;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
    margin-bottom: 1.7rem;
    border: 1px solid rgb(124, 120, 120);
    cursor: pointer;

    &:hover {
      color: white;
      cursor: pointer;
      opacity: 0.8;
      border: 1px solid rgb(124, 120, 120);
    }
  }
}
.cfs-btn-danger {
  button {
    color: white;
    background-color: #ed3e4b;
    border: 1px solid transparent;

    &:hover {
      color: white;
      cursor: pointer;
      background: #00004d;
    }
  }
}

.cfs-btn-default {
  button {
    color: white;
    border: none;
    margin-bottom: 1.7rem;
    border: 1px solid white;

    &:hover {
      color: white;
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 1024px) {
  .cfs-btn-danger {
    button {
      width: 100%;
    }
  }

  .cfs-btn-default {
    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 425px) {
  .cfs-btn-default {
    button {
      width: 100% !important;
    }
  }

  .cfs-btn-danger {
    button {
      width: 100% !important;
    }
  }
}
