@import "~styles/base";

.home-container {
  .welcome-section {
    position: relative;

    .welcome-section-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }

    &-image {
      img {
        width: 100%;
      }
    }
    &-captions {
      h1 {
        font-weight: 900;
        font-size: 6rem;
        color: #333;
        text-transform: uppercase;
      }
      p {
        font-size: 1.6rem;
        font-weight: 300;
        color: #333;
        width: 600px;
        margin: auto;
        margin-bottom: 2rem;

        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  .card-container {
    margin-top: -5rem;
  }
  .card-container-mobile {
    margin-top: 0rem;
  }

  .endorsement {
    &-image {
      width: 100%;
    }
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }
  }

  .services {
    position: relative;
    overflow: hidden;
    padding: 8rem 0;

    svg {
      path {
        color: white;
      }
    }

    h5,
    h1,
    p {
      color: white;
    }

    .header-title {
      color: white;
      text-align: center;
    }
    .bg-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #293742cc;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      opacity: 1;
    }
    .video-container {
      video {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .event-wrapper {
    margin-top: 5rem;
    .header-title {
      text-align: center;
      margin-bottom: 3rem;

      .divider {
        margin-top: 1rem;
      }
    }
  }

  .solutions {
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;

    .header-title {
      color: white;
      .divider {
        background-color: white;
        margin: 1rem 0;
      }
      h5 {
        font-weight: 300;
        color: white;
      }
      h2 {
        width: 450px;
        font-weight: 600;
        font-size: 4rem;
        color: white;
      }
    }

    .description {
      width: 500px;
      font-weight: 300;
      font-weight: 300;
      color: white;
      font-size: 1.4rem;
      margin-bottom: 3rem;
      line-height: 20px;

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .solution-grid {
      .solution-item {
        background-color: white;
        padding: 4rem 0;
        border-radius: 10px;
        position: relative;
        border-bottom: 5px solid $main-color-new;
        overflow: hidden;

        img {
          filter: grayscale(100%);
          transition: 1s ease-in-out;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          z-index: 1;
          opacity: 0.3;
        }

        &:hover {
          cursor: pointer;
          img {
            filter: grayscale(0);
            opacity: 1;
            transform: scale(1.1) rotate(-1deg);
          }
          h2 {
            opacity: 0.7;
          }
        }

        h2 {
          font-weight: 900;
          font-size: 3rem;
          text-align: center;
          z-index: 999;
          color: #333;
          position: relative;
          text-transform: uppercase;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .appoinment-content {
    margin-top: 0;
    padding-top: 4rem;
    background-size: cover;
    background-attachment: fixed;

    .appointment-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;

      .header-title {
        text-align: center;

        @media screen and (max-width: 500px) {
          margin-bottom: 8rem;
        }

        p {
          margin-top: 1rem;
          text-transform: uppercase;
          font-weight: 300;
        }
      }
    }
  }
  .dialog-home {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 999;

    .exit-button {
      border: none;
      background-color: transparent;
      position: fixed;
      right: 2rem;
      top: 2rem;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }

      svg {
        font-size: 3rem;
        path {
          color: #fff;
        }
      }
    }

    img {
      width: 50%;
      margin: auto;

      @media screen and (max-width: $deviceMode) {
        width: 90%;
      }
    }
  }
}
