.home-page-container {
    margin: 6rem 0;

    .leading-section {
        color: #353535;

        h2 {
            font: 700 5rem "Montserrat";
            line-height: 7rem;
            margin: 2rem 0;
        }

        p {
            font: 500 2rem "Montserrat";
            color: rgba(0, 100, 148, .7);
            margin: 2rem 0;
            line-height: 4rem;
        }

        button {
            text-transform: uppercase;
            font: 600 2rem "Montserrat";
            border: 1px solid transparent;
            transition: .2s;
            margin: 2rem 0 5rem 0;

            &:hover {
                background: transparent;
                border: 1px solid #00004d;
                color: #00004d;
            }
        }

        .image-holder {
            margin-bottom: 2rem;

            img {
                width: 600px;
            }
        }

        .border {
            border-bottom: 2px solid #eee;
            margin: 0 5rem;
        }
    }

    .partner-carousel {
        margin: 3rem 0;
    }

    .features-section {
        border-radius: 20px;
        background: #bbdefb;
        padding: 2rem;

        .captions {
            color: #353535;
            text-align: center;
            margin: 4rem 0;

            h2 {
                font: 700 5rem "Montserrat";
                margin: 1rem 0;
            }

            p {
                font: 500 2rem "Montserrat";
            }
        }

    }

    .dual-col-section {
        .captions {
            color: #353535;

            h2 {
                font: 800 3rem "Montserrat";
                margin: 2rem 0;
            }

            p {
                font: 500 1.5rem "Montserrat";
                line-height: 3rem;
            }
        }

        img {
            width: 500px;
        }
    }

    .section-b {
        margin: 2rem 0;

        .captions {
            h2 {
                line-height: 5rem;
            }

            p {
                &:nth-of-type(1) {
                    margin: 2rem 0;
                }
            }
        }
    }

    .product-highlights {
        margin: 2rem 0;

        .captions {
            color: #353535;

            h2 {
                font: 700 3rem "Montserrat";
                margin: 3rem 0;
            }

            p {
                font: 500 1.5rem "Montserrat";
                line-height: 3rem;
                margin: 2rem 0;
            }
        }

        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                font: 500 1.5rem "Montserrat";
                margin: 1.5rem 0;

                svg {
                    color: #507dbc;
                    font-size: 2rem;
                }

                span {
                    margin-left: 1rem;

                    h2 {
                        font: 700 1.5rem "Montserrat";
                        color: #353535;
                    }
                }
            }
        }

        img {
            width: 500px;
        }
    }
}

@media screen and (max-width: 500px) {
    .home-page-container {
        text-align: center;

        img {
            width: 100% !important;
        }
    }
}