.appointment-container {
  .appointment-information {
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
  }

  .fc-event-title {
    color: #fff !important;
    font-size: 1.4rem;
  }

  .link-info {
    color: rgb(85, 85, 211);
    font-size: 1.2rem;

    svg {
      margin-left: 0.5rem;
      opacity: 0.8;
    }
  }
}

.ellipsis {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
