@font-face {
  font-family: "Agrandir";
  src: local("Agrandir"),
    url(../../../../../public/assets/fonts/Agrandir-GrandHeavy.otf)
      format("woff");
}

.section-seven {
  h3 {
    color: #0e1f51;
    font-family: "Agrandir";
    font-weight: 800;
    font-size: 6rem;
    text-align: center;
    margin: 7rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .section-seven {
    h3 {
      text-align: center;
      font-size: 3rem;

      br {
        display: none;
      }
    }
  }
}
