$color-red: #ed3e4b;
// $main-color: #7d26cd;
$main-color: #021025;
$main-color-gradient: linear-gradient(
  90deg,
  #0057b7 0%,
  $main-color 30%,
  $main-color
) !important;
$main-color-new: #0057b7;

.agent-webinar {
  margin-bottom: 2rem;
  .embed-responsive-item {
    width: 100%;
    border: none;
    height: 430px;
  }

  .webinar-btns-container {
    margin-top: 1rem;
    .submit-btn {
      display: block;
      width: 100%;
      background-color: #0e1f51;
      margin-top: 0.4rem;
      padding: 0.8rem 0;
      border-radius: 7px;
      color: #fff;
      text-transform: uppercase;
    }
    .share-btn {
      display: block;
      width: 100%;
      background-color: #fff;
      margin-top: 0.4rem;
      padding: 0.8rem 0;
      border-radius: 7px;
      color: #333;
      text-transform: uppercase;

      span {
        border-bottom: 1px dotted #333;
      }

      svg {
        position: relative;
        top: 2px;
        margin-right: 0.6rem;
      }
    }
  }

  .video-captions {
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
    border-radius: 4px;
    padding: 2rem;

    h2 {
      font-weight: 900;
      font-size: 3rem;
      color: #333;
      margin-bottom: 2rem;
    }
    h3 {
      font-weight: 300;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    p {
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 2rem;

      span {
        font-weight: 900;
      }
    }

    ul {
      list-style: none;
      li {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }

  .submission-form {
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
    border-radius: 4px;

    .form {
      padding: 0rem 1rem 2rem 1rem;
    }

    .MuiInputBase-root,
    .MuiInputLabel-root,
    .MuiFormControlLabel-root span {
      font-size: 1.3rem;
    }

    .form-instructions {
      padding: 1rem 1rem;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-bottom: 1rem;
      background: #0e1f51;

      h2 {
        color: #fff;
        font-size: 1.7rem;
        font-weight: 900;
      }
      p {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}
