.agent-registration-success-wrapper {
  .child-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    img {
      width: 500px;
      margin-right: 3rem;
    }

    h2 {
      font-weight: 900;
      font-size: 3rem;
      text-transform: uppercase;
    }
    p {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }

    a {
      font-size: 1.3rem;
    }
  }
}
