.agent-registration-wrapper {
  .container-wrapper {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 4rem 0;
  }

  .banner {
    padding: 10rem 0;

    h5,
    h1 {
      color: white;
    }

    .divider {
      background-color: white;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 6, 17, 0.75);
      z-index: -1;
    }
  }

  .spinner-form-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    z-index: 999;
  }

  .agent-form {
    background-color: #fff;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
    padding: 2rem;

    .form-header {
      border-bottom: 1px solid #eee;
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      h2 {
        font-weight: 900;
        font-size: 2rem;
      }

      p {
        font-weight: 300;
        font-size: 1.2rem;
      }
    }

    .user-img-container {
      img {
        width: 200px;
        margin-top: 1rem;
        border: 1px solid #eee;
        padding: 5px;
        border-radius: 6px;
      }
    }

    .MuiAlert-message {
      position: relative;
      top: 2px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif;
    }

    .form-error {
      margin-left: 3rem;
    }

    .MuiInputBase-root,
    .MuiFormLabel-root {
      font-size: 1.4rem !important;
    }

    .MuiButtonBase-root {
      font-size: 1.4rem;
    }

    .MuiChip-root {
      font-size: 1.4rem;
    }

    .label-sections {
      margin-top: 3rem;

      h2 {
        font-weight: 900;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }
    }
  }

  .form-actions {
    text-align: right;
    margin-top: 1rem;

    button {
      margin-left: 1rem;
    }
  }
}