.email-template-container,
.events-admin-container {
  .email-template-form-container,
  .events-admin-form-container {
    background: #1565d8;
    height: 40vh;
    padding: 4rem 2rem;

    h2 {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      color: #fff;
    }

    .email-template-form,
    .events-admin-form {
      background: #fff;
      margin-top: 4rem;
      padding: 5rem 4rem;
      border-radius: 10px;
      box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.29);
      -webkit-box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.29);

      .form-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .template-library-btn {
          button {
            color: #1976d2;
          }
        }
        .cfs-btn {
          display: inline-block;
          margin-left: 1rem;
        }
      }

      label {
        font-size: 1.2rem;
      }
      .primary-cfs-btn {
        margin-top: 1rem;
        display: inline-block;
      }

      .MuiInputBase-root {
        font-size: 1.3rem;
        border-radius: 10px;
        margin-top: 0.8rem;
      }

      .select__control {
        border-radius: 10px;
        font-size: 1.3rem;
      }
    }
  }
}

.drawer-email-library {
  .MuiPaper-root {
    width: 900px;
  }
  .drawer-footer button {
    height: calc(100% - 1rem);
    border-radius: 0;
  }

  .drawer-content {
    .MuiDataGrid-root {
      button,
      span,
      p,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      div,
      label {
        font-size: 1.2rem;
      }
    }

    .select-btn {
      display: flex;
      align-items: center;
      background-color: #1565d8;
      padding: 0.5rem 1rem;
      color: #fff;
      border: none;
      border-radius: 3px;
      span {
        margin-right: 1rem;
        color: #fff;
      }
    }
  }
}
