.mailing-library-container {
  // Added maxwidth so table won't get too much unnecessary white spaces
  max-width: 1280px;

  .mailing-library-table {
    .MuiDataGrid-root {
      button,
      span,
      p,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      div,
      label {
        font-size: 1.2rem;
      }
    }

    .MuiDataGrid-columnHeaderTitle {
      font-weight: 800;
      font-size: 1.6rem !important;
    }

    .template-name-header {
      display: flex;
      align-items: center;

      span {
        margin-right: 0.5rem;
      }

      svg {
        color: #4caf50;
        font-size: 1.5rem;
      }
    }

    .select-btn {
      display: flex;
      align-items: center;
      background-color: #1565d8;
      padding: 0.5rem 1rem;
      color: #fff;
      border: none;
      border-radius: 3px;
      margin-left: 1rem;
      span {
        margin-right: 1rem;
        color: #fff;
      }
    }

    .danger {
      background-color: #ed3e4b;
    }

    .select-btn:disabled,
    .select-btn[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: auto;
    }
  }
}

.capitalize-first {
  text-transform: lowercase;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}
.custom-toolbar {
  .filter-status-btn {
    align-items: center;
    display: flex;
    position: relative;
    top: 1px;
    left: -15px;
    svg {
      margin-right: 1rem;
      font-size: 1.6rem;
    }
  }
}
