.navbar {
  padding: 0.5rem 0;

  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__name {
      img {
        width: 150px;
      }

      h2 {
        font-weight: 700;
        color: white;
      }
    }

    .navbar__links {
      z-index: 999;

      .nav-links-active {
        font-weight: 700;
      }
      .navbar-btn {
        background: none;
        border: none;
        cursor: pointer;
        svg {
          color: white;
          background: transparent;
          font-size: 2rem;
        }
      }
      ul {
        list-style: none;
        display: flex;
        align-items: center;

        a {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
        }

        .link-active {
          a {
            font-weight: 700;
          }
        }

        li {
          display: inline-block;
          margin-left: 3rem;

          a {
            font-size: 1.3rem;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.navbar__mobile {
  border-left: 2px solid white;

  .dropdown-btn {
    margin-left: 1rem;
  }

  .dropdown-content-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1.3rem 0;
    margin: 0;
    border: 1px solid #eee;

    &:hover {
      background-color: #ed3e4b;
    }
  }

  .navbar__name {
    img {
      margin: auto;
      margin-top: 2rem;
      width: 100px;
      display: block;
      margin-bottom: 3rem;
    }
  }

  ul {
    li {
      margin-top: -8px;
      padding: 2rem 1rem;
      margin-bottom: 1rem;
      text-align: center;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: black;
        text-decoration: none;
        font-size: 1.4rem;
        width: 100%;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .portal-btn {
        margin-top: 0.7rem;
        padding: 1.3rem 3rem;
        color: white;
        background-color: #ed3e4b;
        border-radius: 5rem;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: none;
        border: none;
        margin-bottom: 1.7rem;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    .mobile-links:hover {
      background: #0e1f51;

      a {
        color: white;
      }
    }
  }
  .navbar__mobile-socials {
    position: absolute;
    bottom: 5%;
    width: 100%;
    h6 {
      text-align: center;
      font-size: 1.6rem;
      border-bottom: 1px dotted #eee;
      font-weight: 300;
      margin-bottom: 2rem;
      padding: 1rem 1rem;
    }
    ul {
      text-align: center;
      li {
        display: inline;
        padding: 0;
        margin: 0.5rem;

        a {
          display: block;
          margin: auto;
          width: 30%;
          background: #0e1f51;
          border-radius: 10px;

          svg {
            padding-top: -10px;
            margin-top: -15px;
            color: white;
            align-self: center;
            position: relative;
            top: 0.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .navbar__name {
      img {
        width: 100px !important;
      }
    }
  }
  .navbar__mobile {
    button {
      width: 100%;
    }

    .navbar__mobile-socials {
      position: relative;
      margin-top: 3rem;
      ul {
        list-style: none !important;
        li {
          list-style: none !important;
          a {
            padding: 1rem 1rem;
          }
        }
      }
    }
  }
}
