.navbar {
  background: #00004d;
  padding: 2.5rem 0;

  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__name {
      img {
        width: 150px;
      }

      h2 {
        font-weight: 700;
        color: white;
      }
    }

    .navbar__links {
      button {
        background: none;
        border: none;
        cursor: pointer;
        svg {
          color: white;
          background: transparent;
          font-size: 2rem;
        }
      }
      ul {
        list-style: none;

        a {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
        }

        .link-active {
          a {
            font-weight: 700;
          }
        }

        li {
          display: inline-block;
          margin-left: 3rem;

          a {
            font-size: 1.3rem;
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .navbar__buttton {
        button {
          padding: 1.3rem 3rem;
          color: white;
          background-color: #ed3e4b;
          border-radius: 5rem;
          font-size: 1.4rem;
          font-weight: 500;
          box-shadow: none;
          border: none;
          border: 1px solid transparent;

          &:hover {
            background-color: transparent;
            border: 1px solid white;
            opacity: 0.7;
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.navbar__mobile {
  border-left: 2px solid white;
  .navbar__name {
    img {
      margin: auto;
      margin-top: 2rem;
      width: 100px;
      display: block;
      margin-bottom: 3rem;
    }
  }

  ul {
    li {
      margin-top: -8px;
      padding: 2rem 1rem;
      margin-bottom: 1rem;
      text-align: center;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: black;
        text-decoration: none;
        font-size: 1.4rem;
        width: 100%;
        font-weight: 300;
      }

      button {
        margin-top: 0.7rem;
        padding: 1.3rem 3rem;
        color: white;
        background-color: #ed3e4b;
        border-radius: 5rem;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: none;
        border: none;
        margin-bottom: 1.7rem;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    .mobile-links:hover {
      background: #0e1f51;

      a {
        color: white;
      }
    }
  }
  .navbar__mobile-socials {
    position: absolute;
    bottom: 5%;
    width: 100%;
    h6 {
      text-align: center;
      font-size: 1.6rem;
      border-bottom: 1px dotted #eee;
      font-weight: 300;
      margin-bottom: 2rem;
      padding: 1rem 1rem;
    }
    ul {
      text-align: center;
      li {
        display: inline;
        padding: 0;
        margin: 0.5rem;

        a {
          background: #0e1f51;
          padding: 1.4rem 1.4rem;
          border-radius: 10px;

          svg {
            padding-top: -10px;
            margin-top: -15px;
            color: white;
            align-self: center;
            position: relative;
            top: 0.3rem;
          }
        }
      }
    }
  }
}
