@font-face {
  font-family: "Agrandir";
  src: local("Agrandir"), url(./) format("woff");
}

.business-card-wrapper {
  .back-page {
    width: 436px;
    height: 292px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .business-card-content {
      width: calc(436px - 150px);
      padding: 2rem;
      text-align: right;
      .primary-info {
        text-align: right;
        margin-bottom: 1rem;
        h2 {
          font-weight: 900;
          font-family: "Agrandir";
          color: #fff;
          font-size: 2rem;
          text-transform: uppercase;
          margin-bottom: 0;
          line-height: 2.5rem;
        }
        h3 {
          font-weight: 300;
          font-family: "Agrandir";
          color: #fff;
          font-size: 1.5rem;
          margin-top: 0;
        }
      }

      .secondary-info {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .captions {
          h4 {
            font-weight: 300;
            color: white;
            font-size: 1.2rem;
            font-family: "Montserrat";
            line-height: 2rem;
          }

          p {
            font-size: 1rem;
            font-family: "Montserrat";
            color: white;
            font-weight: 700;
            margin-top: 1rem;
          }
        }

        .qr-code {
          display: inline-block;
          text-align: right;
          position: relative;
          top: 3px;

          img {
            width: 100px;
            margin: auto;
            display: block;
          }
        }
      }
    }
  }

  .business-card-actions {
    text-align: center;
    button {
      background-color: transparent;
      border: none;
      margin: 0.5rem 1rem;
      cursor: pointer;
      border-bottom: 1px dotted #333;
    }
  }
}
