.content-image {
  img {
    width: 40px;
  }

  .content-title {
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
    }
  }
  .content-link {
    color: #1565d8;
    font-weight: 700;
    font-size: 1rem;
  }
}
