.family-protection__page {
  .headline {
    .cfs-btn-default button {
      border: 1px solid black !important;
      color: black;
      font-weight: 700;
    }
    .headline-container {
      background-position: left center;
    }
  }

  .standard-card-container {
    height: 25vh;

    h3,
    p {
      font-size: 1.7rem;
    }

    .cfs-btn {
      button {
        display: none;
      }
    }
  }

  .feature-main-container {
    margin-top: -17rem;
  }

  .carousel-navigator-container {
    .carousel-navigator {
      text-align: center;

      h2,
      h2 {
        font-size: 2.2rem;
        margin-bottom: 4rem;
      }

      button {
        display: inline-block;
        width: 56px;
        height: 56px;
        background: #0fb583;
        border-radius: 8px;
        border: none;
        margin: 0 0.5rem 1.7rem 0.5rem;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }

        svg {
          color: #fff;
        }
      }
    }
    .process {
      .dark-card {
        background: #00004d !important;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .carousel-navigator-container {
    margin-top: -17rem;
    padding: 0 !important;
    margin-bottom: -3rem;
  }
}
@media screen and (max-width: 900px) {
  .family-protection__page {
    .standard-card-container {
      text-align: center;
      height: auto !important;
      margin-top: 1rem;

      .card-title {
        text-align: center;
        h3 {
          font-size: 2rem !important;
        }
      }
      .card-description {
        p {
          height: auto !important;
          font-size: 1.6rem !important;
        }
      }

      button {
        height: 40px !important;
      }
    }

    .carousel-navigator-container {
      .standard-card-container {
        background: transparent;
        box-shadow: none;
        border: none;
      }
      .carousel-navigator {
        h2 {
          margin-bottom: 2rem;
        }

        h2,
        p {
          text-align: center;
          color: white !important;
          width: 100%;
          margin-bottom: 5rem !important;
        }
      }
    }

    .carousel-navigator-btn {
      button {
        margin-top: -3rem !important;
        width: 20% !important;
      }
    }
  }
}
