.about-wrapper {
  background-color: white;
  border-radius: 4px;

  .about-info {
    margin-bottom: 2rem;

    h2 {
      font-weight: 300;
      color: rgba(51, 48, 60, 0.8);
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }

        svg {
          margin-right: 1rem;
          position: relative;
          top: 1px;
        }

        span {
          font-size: 1.3rem;
          letter-spacing: 1px;
        }

        .list-label {
          color: rgba(51, 48, 60, 1);
          font-weight: 700;
        }
        .list-value {
          color: rgba(51, 48, 60, 0.7);

          a {
            background: transparent;
            border: none;
            color: #333;
            font-size: 1.2rem;
            border-bottom: 1px dotted #333;
            padding-right: 0;
            opacity: 0.8;
            cursor: pointer;
            text-decoration: none;

            svg {
              font-size: 1rem;
              margin-left: 0.3rem;
              margin-right: 0;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
