.process {
  margin-top: 4rem;
  background: #caeaff;

  .card-business {
    .dark-card {
      background: #1363df;
    }
  }

  .section__title {
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      padding-top: 5rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .light-card {
    background: white;

    .card__title {
      h3 {
        color: #47b5ff;
      }
    }

    .subtitle {
      h4 {
        color: #47b5ff;
      }
    }

    p {
      color: #47b5ff;
    }

    ul {
      li {
        color: #47b5ff;
      }
    }
  }

  .card-business {
    button {
      background: linear-gradient(96.03deg, #1363df 0%, #47b5ff 100%);
    }
  }
}
