.form-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 3px 3px 3px #eee;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 2px solid #eee;
  background-color: #fff;

  button {
    height: 40px;
    margin-right: 1rem;
    margin-top: 0;
  }
}
.blog-light {
  box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
  .blog-form {
    margin-bottom: 5rem;

    .blog-form-container {
      .MuiInputBase-root,
      .MuiFormLabel-root {
        font-size: 1.4rem !important;
      }
      .tags-grid {
        z-index: 2;
      }
      .blog-thumbnail-upload-container {
        .blog-thumbnail-button {
          margin-bottom: 1rem;
        }
        .img-container {
          position: relative;
          padding: 0.5rem;
          width: 300px;
          border: 1px solid #ddd;
          border-radius: 5px;
          img {
            width: 100%;
          }
        }
        .alt-input {
          width: 300px;
        }
      }
    }
  }
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  margin: 1rem 0;
}
