.access-indicator-container {
  .MuiPaper-root {
    background-color: rgb(255, 244, 229) !important;
    padding: 1rem !important;
    border-radius: 4px;
  }

  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;

    button {
      margin-left: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 900;
      border-bottom: 1px dotted #333;
    }
  }

  margin-bottom: 1rem;
}
