.plan-card-container {
  margin: 3rem 0;
  padding: 5rem 4rem;
  border-radius: 3rem;
  border: 1px solid transparent;
  background: rgb(86, 85, 161);

  .card__title {
    h3 {
      font-weight: 600;
      color: white;
      font-size: 4rem;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 2rem;
    }
  }
  .subtitle {
    h4 {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 1rem;
    }
  }
  .captions {
    height: 108px;
    p {
      width: 100%;
      font-weight: 300;
      font-size: 1.3rem;
      color: white;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 3rem;
    }
  }
  .list {
    ul {
      margin-bottom: 3rem;
      li {
        font-size: 1.3rem;
        color: white;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 2rem;
        list-style: none;

        svg {
          margin-right: 1rem;
        }
      }
    }
  }
  .button__container {
    button {
      color: white;
      border: 1px solid transparent;
      padding: 1rem;
      width: 290px;
      text-align: center;
      background: linear-gradient(
        96.03deg,
        #191979 18.23%,
        #8282f0 100%,
        #8282f0 100%
      );

      &:hover {
        border: 1px solid grey;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .plan-card-container {
    .captions {
      p {
        width: 100%;
        text-align: center;
      }
    }

    .card__title,
    .subtitle,
    .list {
      text-align: center;
    }
    .button__container {
      button {
        display: block;
        padding: 0.5rem;
        width: 40%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .plan-card-container {
    margin: 0 0 1rem 0;
  }

  .button__container {
    button {
      width: 70% !important;
    }
  }
}

@media screen and (max-width: 320px) {
  .plan-card-container {
    padding: 2rem;
    margin-bottom: -1rem;
  }

  .button__container {
    button {
      width: 100% !important;
    }
  }
}
