.orders-history-container {
  .orders-history-table {
    background-color: #fff;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;

    .template-name-header {
      display: flex;
      align-items: center;

      span {
        margin-right: 0.5rem;
      }

      svg {
        color: #4caf50;
        font-size: 1.5rem;
      }
    }
  }
}
