.commision-simulation-container {
  .total-block {
    background: #0057b7;
    color: #fff;
    padding: 3rem;

    .total-block-heading {
      h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
    .total-block-result {
      display: flex;
      justify-content: space-evenly;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;

      h2 {
        font-weight: 700;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
      }
      .result-title {
        text-align: center;
        font-weight: 900;
        font-size: 4rem;
      }
    }
  }
  .number-members {
    text-align: center;
    padding: 0.3rem;
    h5 {
      font-size: 1.7rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      border-bottom: 1px solid #0057b7;
    }
  }

  .form-card {
    background: #eee;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 2rem;

    .alert-message {
      font-size: 1.4rem;
      font-family: "Montserrat", sans-serif;
      color: #f86f03;
      margin-top: -1rem;
    }

    .position-label {
      display: flex;
      align-items: center;

      svg {
        display: flex;
        margin-left: 1rem;
        align-items: center;
        font-size: 1.3rem;
        position: relative;
        top: 0.4rem;
        color: #ed3e4b;
      }
    }

    .Mui-disabled {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #000;
    }

    input {
      border: none;
      font-size: 13px;
      background-color: white;
    }

    .card-captions-top {
      line-height: 2rem;
      h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 2rem;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.7rem;
        margin-bottom: 1rem;
        font-weight: 500;
      }
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      margin: 1rem 0 0 0;
    }

    label {
      font-family: "Montserrat", sans-serif;
      font-size: 1.7rem;
      font-weight: 400;
      margin: 0.5rem 0;
      margin-bottom: 1rem;
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
}
