.dashboard-content {
  .table {
    .MuiTableCell-root {
      padding: 1rem 0;
      font-weight: 700;
      font-size: 1.5rem;
    }
    .MuiTableBody-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          padding: 1rem 0;
          font-size: 1.3rem;
          font-weight: 300;
        }
      }
    }

    svg {
      font-size: 0.8rem;
      position: relative;
      top: 0px;
      margin-right: 0.4rem;
      color: rgba(51, 48, 60, 0.8);
      path {
        color: rgba(51, 48, 60, 0.8);
      }
    }
  }
}
