.card-wrapper {
  .card-content-container {
    margin-bottom: 4rem;
    .subtitle {
      font-family: "Montserrat", sans-serif;
      color: #aaaaaa;
    }
    margin-left: 10px;
    .card-title {
      h4 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }
}
