.card-wrapper {
  .card-content-container {
    margin-bottom: 4rem;
    .subtitle {
      font-family: "Montserrat", sans-serif;
      color: #aaaaaa;
    }
    margin-left: 10px;
    .card-title {
      h4 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .card-wrapper {
    .card-content-container {
      .card-title {
        h4 {
          text-align: center;
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
      .subtitle {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}
