$main-color: #021025;

.fullwidth-box {
  background-color: #fff;
  box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1rem;

  .captions {
    h2 {
      font-weight: 900;
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 0.3rem;
    }

    svg {
      position: relative;
      top: 0px;
      font-size: 1rem;
      margin-right: 0.3rem;
      path {
        color: #6e6e6e;
      }
    }
  }

  .actions {
    button {
      border: 1px solid #eee;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: linear-gradient(
          90deg,
          #0057b7 0%,
          $main-color 30%,
          $main-color
        );

        svg {
          path {
            color: #fff;
          }
        }
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}
