.diagram-component {
  width: 100%;
  height: 100vh;
  border: solid 1px black;
  background-color: white;
}

.user-icon {
  font-size: 6rem !important;
}

.node {
  transition: 300ms;
  cursor: pointer;
}

.node:hover {
  transform: scale(1.05);
}
