@import "~styles/base";

.social-icons {
  margin: 2rem 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    margin-right: 0.5rem;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    transition: 0.5s;
    cursor: pointer;

    .top-nav-icon {
      background: $main-color-gradient;
      padding: 5px 7px;
      border-radius: 3px;
      text-align: center;
      border: 1px solid rgba(238, 238, 238, 0.3);
    }
    svg {
      position: relative;
      top: 1px;
      font-size: 3rem;
      path {
        color: #fff;
      }
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
