.agent-form-container {
  .spinner-form-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    z-index: 999;
  }
  .agent-form {
    .MuiInputBase-root,
    .MuiFormLabel-root {
      font-size: 1.4rem !important;
    }
    .label-sections {
      margin-top: 3rem;

      h2 {
        font-weight: 900;
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
    }

    .form-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60px;
      box-shadow: 3px 3px 3px #eee;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      box-shadow: 0px 5px 5px #888, 0px -5px 5px #eee;

      button {
        height: 40px;
        margin-right: 1rem;
        margin-top: 0;
      }
    }
  }
}
