.calendar-wrapper {
  .calendar-items {
    background-color: white;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
    margin-bottom: 1.3rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      box-shadow: none;
      opacity: 0.5;
    }

    span {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: 0;
      font-size: 1.8rem;
      margin-bottom: 0.8rem;
    }
    p {
      font-weight: 900;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}
