$main-color: #021025;
$main-color-gradient: linear-gradient(
  90deg,
  #0057b7 0%,
  $main-color 30%,
  $main-color
) !important;

/* Default Colors */
$grey-50: #fafafc;
$grey-100: #f6f6fa;
$grey-200: #eaeaf2;
$grey-250: #e1e1e6;
$grey-300: #c4c4cd;
$grey-400: #747480;
$grey-450: #717171;
$grey-500: #2e2e38;
$grey-510: #2e2e3c;
$grey-550: #23232f;
$grey-600: #1a1a24;
$grey-800: rgba(0, 0, 0, 0.05);

.indicator-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $grey-300;
  padding: 2rem;
  box-shadow: 3px 3px 3px #eee;
  margin-top: 1rem;
  background-color: $grey-200;
  border-radius: 2px;
  margin-bottom: 3rem;
  justify-content: space-between;

  .indicator-container {
    display: flex;
    align-items: center;
    .icon-holder {
      margin-right: 2rem;
      background: $main-color-gradient;
      padding: 2rem;
      border-radius: 50%;
      border: 2px solid rgb(220, 219, 219);
      svg {
        font-size: 2rem;
        path {
          color: #fff;
        }
      }
    }
    .caption-holder {
      h2 {
        font-size: 2rem;
        font-weight: 900;
      }
      p {
        font-size: 1.3rem;
      }
    }

    .indicator-actions {
    }
  }
}
