.success-page {
  margin-top: 0;

  & > .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > .admin-logo {
      width: 15rem;
      margin-left: 0;
      margin-top: auto;
      margin-bottom: auto;
    }

    & > .socials {
      & > .social-icons {
        display: flex;
        justify-content: center;
        margin: 0.5rem;

        svg {
          font-size: 2rem;
          margin-left: 10px;
        }
      }
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .success-image {
    width: 800px;

    @media (min-width: 390px) {
      max-width: 400px;
    }
  }

  .sucess-title {
    font-size: 2.5rem;
    padding: 10px;
  }

  .sucess-message {
    font-size: small;
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
  }

  & > a.linkToAgentReg {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative;
    color: white;
    margin: 0;

    & .banner-actions {
      & img {
        margin-top: 1rem;
        max-height: 150px;
        width: 100%;
        object-fit: cover;
        object-position: 0 10%;
        filter: brightness(60%);
      }

      & > .banner-action-msg {
        text-align: left;
        position: absolute;
        top: 8px;
        left: 16px;
        padding: 2rem;
        max-width: 200px;

        & > h3 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
