@font-face {
  font-family: "Agrandir";
  src: local("Agrandir"),
    url(../../public/assets/fonts/Agrandir-GrandHeavy.otf) format("woff");
}
@mixin box-shadow {
  box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  padding-right: 0 !important;
}

pre {
  font-size: 13px;
  font-family: monospace;
}

.inline-block {
  display: inline-block;
  text-align: center;
}

.no-padding-top {
  padding-top: 0 !important;
}

/** MUI Styles */
.MuiMenu-paper {
  .MuiButtonBase-root {
    font-size: 1.4rem;
  }
}
.MuiFormHelperText-root {
  font-size: 1.3rem !important;
}
.Toastify__toast-body {
  font-size: 1.6rem;
}

@media screen and (max-width: 320px) {
  .mobile-view-no-padding {
    padding: 0 !important;
  }
}
