.my-webpage-container {
	.half-bg {
		// background: url("https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg?auto=compress&cs=tinysrgb&w=1600");
		background: #00004d;
		background-position: center;
		background-size: cover;
		height: 40vh;
	}

	.profile-section-container {
		margin: -12rem 0 0 0;
		z-index: 2;
		display: flex;
		align-items: center;

		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			object-fit: cover;
			box-shadow: -1px 0px 17px 0px rgba(237, 237, 237, 0.7);
			background: #fff;
			padding: 0.5rem;
		}

		.MuiGrid-grid-xs-9,
		.MuiGrid-grid-sm-9 .MuiGrid-grid-md-9,
		.MuiGrid-grid-lg-9,
		.MuiGrid-grid-xl-9 {
			margin: 5rem 0 0 -5rem;
			display: flex;
			align-items: center;
		}

		.profile-captions {
			padding: 7rem 0 4rem 0;
			h2 {
				font: 800 2.5rem "Montserrat";
				margin: 1rem 0;
				color: #353738;
				padding: 2rem 0 0 0;
			}
			.agent-description {
				font: 600 1.3rem "Montserrat";
				color: #353738;
				margin: 1rem 0;
			}
			.social-container {
				display: flex;
				gap: 20px;

				.social-content {
					display: flex;
					align-items: center;
					gap: 0 3px;
					color: #5e6572;

					span {
						font: 400 1rem "Montserrat";
						white-space: nowrap;
						width: 50px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					svg {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.tri-col {
		padding: 2rem 0;
		background: #f8f4f4;

		.left-col {
			.contact {
				display: flex;
				align-items: center;
				gap: 0 1.5rem;
				margin: 1.5rem 0;

				svg {
					color: #5e6572;
					font-size: 1.3rem;
				}
				span {
					font: 500 1.3rem "Montserrat";
					color: #5e6572;
					.mailto {
						font: 500 1.3rem "Montserrat";
						color: #353738;
					}
				}
			}
			button {
				margin: 3rem 0;
				display: flex;
				align-items: center;
				width: 200px;
				padding: 1.5rem;
				justify-content: center;
				transition: 0.2s;
				gap: 0 10px;
				span {
					font: 500 1.5rem "Montserrat";
				}

				&:hover {
					color: #353738;
					background: transparent;
					border: 1px solid #00004d;
				}
			}
		}
		.middle-col {
			background: #2596be;
			border-radius: 10px;
			padding: 2rem 1rem;
			.middle-col-content {
				h2 {
					text-align: center;
				}
			}
		}
		.right-col {
			background: #00004d;
			padding: 2rem 0;
			border-radius: 10px;
			color: #fff;

			.right-col-content {
				flex-direction: column;
				display: flex;
				align-items: center;
				h3 {
					font: 600 1.5rem "Montserrat";
					text-transform: uppercase;
					margin: 2rem 0;
				}

				.icon-holder {
					svg {
						font-size: 10rem;
						margin: 3rem 0 1rem 0;
					}
				}
				p {
					font: 300 1.3rem "Montserrat";
					margin: 1rem 0;
					text-align: center;
				}
				button {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0 10px;
					width: 150px;
					padding: 0.5rem 1rem;
					color: #fff;

					svg {
						font-size: 1rem;
					}
				}
			}
		}
	}
}
