.upgrade-to-pro-container {
  position: fixed;
  right: 2%;
  bottom: 5%;

  button {
    background-color: #0057b7;
    padding: 1rem;
    color: #fff;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
    border: 1px solid #023469;
    border-radius: 4px;

    span {
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      top: -1px;
    }
  }
}
